# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Configuration and Secret files
.env
.env.*
*.env
config.json

# Environments
.venv/
venv/
ENV/
env/

# IDE and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
